@font-family: 'Mulish', sans-serif;

@header-height: 64px;

@modal-body-padding: 0;

@form-item-margin-bottom: 16px;

@border-radius-base: 6px;

@space-xss: 2px;
@space-xs: @padding-xs;
@space-sm: @padding-sm;
@space-md: @padding-md;
@space-lg: @padding-lg;

@carousel-dot-height: 12px;
@carousel-dot-width: 124px;
@carousel-dot-active-width: 12px;

@text-color-additional: #91969e;
@text-color-blue: #286eeb;
